@{
    ViewBag.Title = "Home Page";
}


<div>
    <div class="jumbotron">
        <h1>Hotel Engegraph</h1>
        <p>Bem vindo a central de reservas on line da plataforma Hotel Engegraph</p>
    </div>
</div>

