<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="StringDeConexao" value="Server=2K21-DELL\SQLEXPRESS;Database=HotelEngegraph;User=sa;Password=123456"/>
	</appSettings>
</configuration>